<ng-container *ngIf="infinite$ | async as messages">
  <cdk-virtual-scroll-viewport
    itemSize="100"
    (scrolledIndexChange)="nextBatch($event, messages[messages.length - 1])"
  >
    <li
      *cdkVirtualFor="
        let message of messages;
        let i = index;
        trackBy: trackByIdx
      "
      class="animate__animated animate__backInRight"
    >
      <h2 class="msg-header">{{ message.header }}</h2>
      <h5 class="msg-time">
        {{ message.createdAt.toDate() | date: "dd/MM/yyyy h:mm:ss a" }}
      </h5>
      <h5 class="proflie-link" [routerLink]="'/team/' + message.uid">
        {{ message.email }}
      </h5>
      <p>{{ message.text }}</p>
    </li>

    <li *ngIf="theEnd" class="animate__animated animate__backInRight">
      <h2 class="msg-header">THE END!</h2>
    </li>
  </cdk-virtual-scroll-viewport>
</ng-container>

<button
  mat-fab
  class="add-comment"
  color="primary"
  aria-label="Adds a new Comment"
  (click)="openMessageDialog()"
>
  <mat-icon>add_comment</mat-icon>
</button>
