@import "../../../variables.scss";
cdk-virtual-scroll-viewport {
  height: 90vh;

  list-style-type: none;

  li {
    border-radius: 15px;
    height: 100px;
    width: 90vw;
    margin: 15px auto;
    background-color: #ff71ce;
    padding: 15px;

    .msg-header {
      margin: 0 0;
    }
    .msg-time {
      margin: 0 0;
    }
    .proflie-link {
      color: white;
      cursor: pointer;
    }
  }

  &::-webkit-scrollbar {
    width: 1em;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: #05ffa1;
  }
}

.add-comment {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

:host {
  &::ng-deep {
    .mat-primary {
      background-color: $pink;
    }
  }
}
