<div style="display: flex" *ngIf="users">
  <mat-card class="card" *ngFor="let user of users">
    <mat-card-header>
      <mat-card-title>{{ user.displayName }}</mat-card-title>
      <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
    </mat-card-header>
    <img
      *ngIf="user.photoUrl"
      mat-card-image
      referrerPolicy="no-referrer"
      [src]="user.photoUrl"
      alt="Profile Picture"
    />
    <img
      *ngIf="!user.photoUrl"
      mat-card-image
      referrerPolicy="no-referrer"
      src="https://placebear.com/300/300"
      alt="Profile Picture"
    />

    <mat-card-actions>
      <button mat-button [routerLink]="'/team/' + user.uid">
        Go to Profile
      </button>
    </mat-card-actions>
  </mat-card>
</div>
